body{

  overflow-x: hidden;
  background-image: url('assets/app_bg.svg');
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.App{
  margin-top: 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.LoaderContainer{
  height: 100vh;
  width: 100%;
  text-align: center;
}
.LoaderBody{
  transform: translateY(40vh);
}
